<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LegacyLink</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>
    <% if (typeof displayMessage != 'undefined') { %>
        <script>alert(unescape('<%= escape(displayMessage) %>'));</script>
    <% } %>

    <%- include('header') %>

    <h1>Welcome, <span id="username"><%= user.username %></span></h1>
    <button onclick="logout()" id="logout-button">Logout</button>
    <button onclick="openModal()" id="settings-button">Settings</button>
    
    <!-- Profile Settings Modal -->
    <div id="profile-settings" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Settings</h2>
            <p>Settings for account, privacy, and more will be added here.</p>
        </div>
    </div>

    <!-- List of Names and Messages -->
    <div id="message-list">
        <h2>List of Names and Messages</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% user.messages.forEach((message, index) => { %>
                    <tr class="msg">
                        <td><%= message.name %></td>
                        <td><%= message.message %></td>
                        <td>
                            <button class="action-button edit-msg-button" onclick="editMessage(<%= index %>)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="action-button delete-msg-button" onclick="deleteMessage(<%= index %>)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <form id="name-message-form" onsubmit="addName(event)">
            <input type="text" id="new-name" placeholder="Enter a new name" required>
            <textarea id="new-message" placeholder="Enter a new message" required></textarea>
            <button type="submit">Add Name and Message</button>
        </form>
    </div>

    <script>
        function logout() {
            localStorage.removeItem('token');
            document.cookie = 'token=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC;';
            window.location.href = '/logout';
        }

        function addName(e) {
            e.preventDefault();
            var name = document.getElementById('new-name').value;
            var message = document.getElementById('new-message').value;
            var token = localStorage.getItem('token');
            fetch('/auth/add_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ username: "<%= user.username %>", name, message })
            })
                .then(response => {
                    if (response.status === 200) {
                        alert('Message added successfully');
                        window.location.href = '/dashboard';
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (data) {
                        alert(data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function openModal() {
            document.getElementById('profile-settings').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('profile-settings').style.display = 'none';
        }

    </script>

    <%- include('footer') %>
</body>

</html>
